.row.flash-container
  .col-md-12.col-xs-12.col-md-12
    - if flash[:notice]
      .notice{ :style => "color: green;" }
        = flash[:notice]

.row
  .col-md-10.col-md-offset-1.col-xs-12.col-md-12
    - unless @post.nil?
      %h4
        Recent Posts in Zone
      - @post.each_with_index do |t,i|
        .post-container
          .nickname
            = t["nickname"]
          .time
            = t["time"]
          .post
            = t["post"]
          - unless t["comments"].empty?
            %div
              %a{ :href => "/show-post/"+t["id"].to_s, "data-method" => "get" }View Post
              <br/>
              %a{ :href => "javascript:void(0)", :class => "view-comment view-comment"+(i+1).to_s, "data-id" => (i+1).to_s }Show Comments
              %a{ :href => "javascript:void(0)", :class => "hide-comment hide-comment"+(i+1).to_s, "data-id" => (i+1).to_s, :style => "display: none;" }Hide Comments
              %div{ :style => "color: #grey; display:none;", :class => "comments-header"+(i+1).to_s }Comments:
              %div{ :style => "display: none;", :class => "comment-container"+(i+1).to_s }
                - t["comments"].each do |c|
                  .comment-box
                    .c-nickname
                      = c["nickname"]
                    .c-time
                      = c["time"]
                    .c-comment
                      = c["comment"]
          - else
            %div
              %a{ :href => "/show-post/"+t["id"].to_s, "data-method" => "get" }View Post
              <br/>
              %a{ :href => "javascript:void(0)", :class => "view-comment view-comment"+(i+1).to_s, "data-id" => (i+1).to_s, :style => "display: none;" }Show Comments
              %a{ :href => "javascript:void(0)", :class => "hide-comment hide-comment"+(i+1).to_s, "data-id" => (i+1).to_s, :style => "display: none;" }Hide Comments
              %div{ :style => "color: grey; display:none;", :class => "comments-header"+(i+1).to_s }Comments:
              %div{ :style => "display: none;", :class => "comment-container"+(i+1).to_s }          
          %div
            %a{ :href => "javascript:void(0)", :class => "add-comment add-comment"+(i+1).to_s, "data-id" => (i+1).to_s, "data-child" => t["comments"].empty? ? "0" : "1" }Add Comment
          %div{ :class => "new-comment-container"+(i+1).to_s, :style => "display: none;"  }
            %div
              %span
                %input{ :placeholder => "Enter your Comment here...", :class => "comment-input-box comment-text"+(i+1).to_s, :style => "color: black;" }
              %span
                %button{ :class => "submit-comment", "data-post-id" => t["id"], "data-id" => (i+1).to_s, :style => "margin-left: 10px;" }Comment  
  