.row
  %br/
  %br/
  %br/
  %br/
  %br/
  .col-md-10.col-md-offset-1.col-xs-12.col-md-12
    #post
      - unless @post.nil?
        - unless @post[0]["image"].empty?
          .row
            - @post[0]["image"].each_with_index do |img,i|
              .col-md-4
                = image_tag img["id"].to_s+'/'+img["image"], :style => "width:300px; height:300px;"        
        %span{ :style => "font-style: italic;" }
          Posted by
        %span.nickname
          = @post[0]["nickname"]
        %br/  
        %span{ :style => "font-style: italic; font-weight: bold;" }
          On  
        %span.time
          = @post[0]["time"]
        .post
          = @post[0]["post"]
        - unless @post[0]["comments"].empty?
          %div
            %a{ :href => "javascript:void(0)", :class => "view-comment"}Show Comments
            %a{ :href => "javascript:void(0)", :class => "hide-comment", :style => "display: none;" }Hide Comments
            %div{ :style => "color: grey; display:none;", :class => "comments-header" }Comments:
            %div{ :style => "display: none;", :class => "comment-container" }
              - @post[0]["comments"].each do |c|
                .comment-box
                  .c-nickname
                    = c["nickname"]
                  .c-time
                    = c["time"]
                  .c-comment
                    = c["comment"]
        - else
          %div
            %a{ :href => "javascript:void(0)", :class => "view-comment view-comment", :style => "display: none;" }Show Comments
            %a{ :href => "javascript:void(0)", :class => "hide-comment hide-comment", :style => "display: none;" }Hide Comments
            %div{ :style => "color: grey; display:none;", :class => "comments-header" }Comments:
            %div{ :style => "display: none;", :class => "comment-container" }            
        %div
          %a{ :href => "javascript:void(0)", :class => "add-comment", "data-child" => @post[0]["comments"].empty? ? "0" : "1" }Add Comment
        %div{ :class => "new-comment-container", :style => "display: none;"  }
          %div
            %span
              %input{ :placeholder => "Enter your Comment here...", :class => "comment-input-box comment-text", :style => "color: black;" }
            %span
              %button{ :class => "submit-comment", "data-post-id" => @post[0]["id"], :style => "margin-left: 10px;" }Comment